<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tian.web.dao.blog.BlogTagMapper">

    <insert id="addBlogTagBatch">
        insert into fengts.blog_tag(blog_id, tag_id)
        values
        <foreach collection="list" item="blogTagList"  separator=",">
            (#{blogTagList.blogId},#{blogTagList.tagId})
        </foreach>
        ;
    </insert>
    <select id="selectTag" resultType="java.util.Map">
        SELECT
            t.id,
            t.tag_name,
            COUNT( bt.id ) num
        FROM
            tags t
                LEFT JOIN blog_tag bt ON bt.tag_id = t.id
        GROUP BY
            t.id
    </select>
    <select id="selectBlogListByTag" resultType="java.util.Map">
        SELECT
            b.*,
            GROUP_CONCAT( DISTINCT bt.tag_id ) tagId,
            GROUP_CONCAT( DISTINCT ( SELECT ts.tag_name FROM tags ts WHERE ts.id = bt.tag_id ) ) tagName,
            GROUP_CONCAT( DISTINCT bc.classify_id ) classifyId,
            GROUP_CONCAT( DISTINCT ( SELECT cf.classify_name FROM classify cf WHERE cf.id = bc.classify_id ) ) classifyName
        FROM
            blog b
                LEFT JOIN blog_tag bt ON bt.blog_id = b.id
                LEFT JOIN blog_classify bc ON bc.blog_id = b.id
        WHERE bt.tag_id like #{tagId} AND b.blog_status='发布'
        GROUP BY
            b.id
    </select>
</mapper>
